@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: Roboto;
}

.container {
  width: 95%;
  background-color: rgb(235, 235, 235);
  margin: 0 auto;
}

.title {
  font-weight: bold;
}

.attendee-item {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  border-top: 1px solid rgb(107, 106, 106);
  flex-direction: row;
}

.attendee-pic {
  height: 75px;

  margin: 10px;
}